<div id="footer">

    <!-- First Column -->

        <div class="one-fourth">
            <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="http://github.com/Hobogrammer">Github</a></li>
                <li><a href="http://twitter.com/Hobogrammer">Twitter</a></li>
                <li><a href="http://www.linkedin.com/in/andrepsmith">LinkedIn</a></li>
            </ul>
        </div>

        <div style="clear:both"></div>

    </div> <!-- END footer -->

