 <div class="header">

      <div id="site_title" class="circular"></div>

    <!-- Main Menu -->

      <ol id="menu">
           <li class="active_menu_item"><a href="index.html">Home</a>
            <li><a href="#">Portfolio</a>
             <li><a href="contact.html">Contact</a></li>
      </ol>
        <div class="user_header">
        <%= link_to "Sign Up",  new_user_registration_path %>
        </div>
    </div><!-- END header -->
