 <div class="header">

      <div id="site_title" class="circular"></div>

    <!-- Main Menu -->

      <ol id="menu">
           <li class="active_menu_item"><a href="index.html">Home</a>
            <li><a href="#">Portfolio</a>
             <li><a href="contact.html">Contact</a></li>
      </ol>
        <div class="user_header">
        <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign Up",  new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
        <% end %>
        </div>
    </div><!-- END header -->
